---
Language: Cpp
BasedOnStyle: LLVM

# Unreal Engine Coding Standard
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 120

# Braces
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Pointers and References
PointerAlignment: Right

# Indentation
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(?!EditorEngine\.h|CoreMinimal\.h).*"'
    Priority: 2
  - Regex: '^<.*'
    Priority: 3
  - Regex: '.*'
    Priority: 1

# Other
Standard: Cpp11
...
